nav{
    background: rgba(99, 240, 80, 0.4);  
    }
    nav a:link {color:rgb(192, 109, 31);}
    nav a:visited  {color:rgb(170, 86, 219);}
    nav a:active {color:rgb(171, 231, 174);}
    li {
    text-decoration:none; /*Убираем стандартное подчёркивание ссылки если оно ещё не убрано*/
    display: inline-block; /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный*/
    line-height: 1; /*Задаём высоту строки (можно в пикселях)*/
    color:#2F73B6;/*Задаём цвет ссылки*/
    }
    li:after {
    display: block; /*превращаем его в блочный элемент*/
    content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 2px; /*задаём высоту линии*/
    width: 0%; /*задаём начальную ширину элемента (линии)*/
    background-color: #000000; /*цвет фона элемента*/
    transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
    }
    li:hover:after,
    li:focus:after {
    width: 100%;
    }
    li:hover{
    color:#225384;
    } 
li{
    list-style-type: none; /* Убираем маркеры */
    float:left; /*Размещаем список горизонтально для реализации меню*/
    margin-right:5px; /*Добавляем отступ у пунктов меню*/
    
   }
ol{
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    background: #b3d810;
   }
   header{
       background: lightcoral;
       width: 100%;
       height: 25px;
       margin: -2px 0 5px;
       padding: 15px 0 5px;       
   }