* {
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  align-items: center;
  margin: 0.5px;
  font-family: sans-serif;
}

.container{
  width: 1024px;
  margin: auto;
}

header{
  display: flex;
  background: rgba(194, 194, 194, 0.596);
  width: auto;
  border-radius: 9px;
}
/*  стили header ------------------ */
.column{
  display: flex;
  width: 100%;
  font: 1em serif;
}
.col4{
  display: flex;
  width: 20%;
}
.col3{
  display: flex;
  width: 80%;
  margin-top: 44px;
  justify-content: space-around;
}
.pro{
  width: 300px;
  height: 140px;
}

/* стили карусели  ------------------*/
.carousel{
  background-color: #222224;
  background-image: linear-gradient(#0040ff,#252a35);
  position: relative;
  width: auto;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
.carousel:hover .slide:after,
.carousel:hover .counter,
.carousel:hover .slide:before {
  opacity: 1;
}
.slide {
  float: right;
  position: absolute;
  z-index: 1;
  width: 1024px;
  height: 400px;
  background-color: #eee;
  text-align: center;
  transition: opacity 0.4s;
  opacity: 1;
}
.slide:before{
    content: attr(annot);
    display: block;
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: rgba(255,255,255,0.9);
    font-size: 14px;
    font-weight: 300;
    z-index: 12;
    opacity: 0;
    transition: opacity 0.3s;
    text-shadow: 0 0 1px black;
  }
.slide:after{
    content: attr(slide);
    display: block;
    position: absolute;
    bottom: 0;
    transition: opacity 0.3s;
    width: 100%;
    height: 80px;
    opacity: 0;
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5));
    text-align: left;
    text-indent: 549px;
    line-height: 101px;
    font-size: 13px;
    color: rgba(255,255,255,0.9);
    text-shadow: 0 0 1px black;
    }
.counter{
  position: absolute;
  bottom: 20px;
  right: 1px;
  height: 20px;
  width: 60px;
  z-index: 2;
  text-align: center;
  color: #fff;
  line-height: 21px;
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.3s;
}
.faux-ui-facia{
  top: 0;
  right: 0;
  float: right;
  position: absolute;
  margin-top:0;
  z-index: 9;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.faux-ui-facia:checked {
  z-index: 8;
}
.faux-ui-facia:checked + .slide {
  opacity: 0;
}
.faux-ui-facia:checked:nth-child(1):checked {
  z-index: 9;
}
.faux-ui-facia:nth-child(1):checked {
  float: left;
  z-index: 9;
}
.faux-ui-facia:nth-child(1):checked + .slide {
  opacity: 1;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia {
  float: left;
  z-index: 8;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia + .slide {
  opacity: 0;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked {
  z-index: 9;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked + .slide {
  opacity: 1;
}

/* --- Intro text --- */
/* 
  .intro {
  padding: 80px 0 60px 0;
  text-align: center;
  color: #fff;
  margin: auto;
  width: 800px;
}
.intro .intro__title {
  font-weight: 200;
  font-size: 32px;
  color: #fff;
}
.intro .intro__body {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  opacity: 0.48;
  padding: 0 160px;
  margin: 0;
}
  */

/*  стили header ------------------ */
ol{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
li{
  display: flex;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: sans-serif;
  /* transition: 5s; */
}
li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  /* transition: 0.4s; */
  padding-left: 1px;
  padding-right: 1px;
  display: flex;
  border-radius: 4px;
}
/* ol:hover li a{
  filter: blur(2px);
} */
ol:hover li a:hover{
  font-size: 20px;
  filter: blur(0px);
  /* background-color: #d3d3d3; */
  text-decoration: underline;
}

.col a:active{
  color: rgb(255, 255, 255);
}
.col a:visited{
  color: rgb(255, 255, 255);
}
.col a:link{
  color: rgb(255, 255, 255);
}

.top li{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 13;
}
h2{
  text-align: center;
  margin-bottom: 25px;
}

         /* выпадающее меню Каталога  */
.top ol li{
  padding: 10px;
}
.top ol li, .top ul{
  display: inline-block;
  transition: all .1s ease-out;
  perspective: 500px;
}
.top ol ul{
  display: none;
  position: absolute;
  width: 200px;
  background-color: rgb(197, 179, 179);
  margin-top: 10px;
  margin-left: -45px;
  border-radius: 15px;
  /* visibility: hidden; */
  transform-origin: 50% 0;
}
.top ol ul a{
  color: #4170fc;
  text-decoration: none;
}
.top ol ul a:hover{
  color: #b30095;
  text-decoration: none;
}
.top li:hover ul{
  display: block;
  background-color: rgb(197, 179, 179);
  visibility: visible;
  animation: top 1s ease;
  box-shadow: 0 0 5px #000;
}
a:-webkit-any-link{
  cursor: pointer;
}
.top a{
  text-decoration: none;
  display: inline-block;
  width: 100%;
  /* color: #4170fc; */
  text-shadow: 0 1px 1px #fff;
  line-height: 4px;
  white-space: nowrap;
}
@keyframes top{
  0%{
    opacity: 0.999;
    transform: rotateX(90deg);
    animation-timing-function: ease-in-out;
  }
  40%{
    transform: rotateX(-20deg) rotateY(7deg);
  }
  60%{
    transform: rotateX(20deg) rotateY(-5deg);
  }
  100%{
    opacity: 1;
    transform: rotate(0deg);
    animation-timing-function: ease-in-out;
  }
}
a.top-list::after {
  content: " ";
  position: absolute;
  border: 7px solid;
  border-color: transparent transparent transparent black;
  top: 14px;
  right: -7px;
  transition: 0.3s;
}
a.top-list:hover::after{
  transform: rotateZ(90deg);
  content: " ";
  position: absolute;
  border: 7px solid;
  border-color: transparent transparent transparent black;
  top: 0px;
  right: -10px;
  transition: 0.3s;
}

/* выравнивание первой страницы ----------------------------- */

.navigation{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.section_1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container_one{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.cata{
  display: flex;
  flex-direction: row;
  border-collapse: collapse;
  width: 100%;
  text-align: justify;
}
.cata:nth-last-child(2n+1){
  display: flex;
  flex-direction: row-reverse;
  border-collapse: collapse;
  width: 100%;
  text-align: justify;
}
.catalog-section_img{
  display: flex;
  vertical-align: middle;
  width: 25%;
  padding: 2px;
  box-shadow: 0 0 10px rgb(112, 112, 112);
}
.catalog-section_content{
  display: flex;
  vertical-align: middle;
  width: 75%;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
}

/* стили услуг ---------------------------------------------- */
.container3{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.co{
  display: flex;
  flex-direction: row;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  vertical-align: text-top;
  box-shadow: 0 0 10px rgb(51, 51, 51);
  border-radius: 25px;
  margin-top: 9px;
}
.co:nth-last-child(2n+1){
  display: flex;
  flex-direction: row-reverse;
  border-collapse: collapse;
  width: 100%;
  text-align: justify;
}
.cols_inside_img{
  display: flex;
  vertical-align: middle;
  width: 34%;
  padding: 12px;
  border-radius: 25px;
}
.cols_context{
  display: flex;
  vertical-align: super;
  align-items: center;
  }
.uslugi li{
  list-style: none;
  margin: 5px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 12px;
}

/* стили контактов -------------------------------------- */
.navigation{
  /* border: 3px solid rgb(240, 109, 2); */
}
#company-contact{
  width: 54.5%;
  /* border: 3px solid rgb(163, 8, 235); */
}
.button {
  display: block;
  width: 27%;
  background: orange;
  color: white;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  padding: 10px 20px;
  border-radius: 5px;
}
.form13{
  width: 40%;
  /* border: 3px solid rgb(22, 207, 5); */
  margin-top: 1%;
  margin-left: 59%;
  margin-bottom: 20%;
}
.cont-col input:required {
  height: 25px;
  width: 240px;
}
.row_message{
  height: 40px;
  width: 240px;
  /* border: 3px solid rgb(235, 8, 178); */
}

.center2{
  /* border: 3px solid rgb(8, 235, 197); */
  width: 40%;
  margin-top: -460px;
  margin-left: 59%;
  font-size: 0.9em;
}
.contacts{
  /* border: 3px solid rgb(238, 4, 4); */
  width: 22%;
  margin-top: -15%;
  margin-left: 59%;
}


/* стили класса «product» ----------------------------------- */

.servises{
  background-color: rgb(255, 255, 255);
  width: 97%;
  margin: auto;
  padding-top: 4rem;
  text-align: center;
  text-align: left; 
}
.product-name{
  padding-bottom: 0.5rem;
  font-size: 1.5rem; 
}
.product-desc {
  padding-bottom: 5rem;
}
.product{
  white-space: pre-line;
  float: left;
  width: 25%;
  border: solid 1px lightslategray;
  box-shadow: rgb(0, 0, 0) 0 0 15px;
  border-radius: 10px;
  margin: 2%;
  padding: 2%;
  background-color: rgb(197, 179, 179);  
}
#comp{
  display: flex;
  border-collapse: collapse;
  margin: 1700px 45px 45px 50px;
  align-items: center;
}
.text_img{
  float: right; 
  margin: 0 1px 1px 0;
}
.pagination{
  display: table;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 25px;
}
.pagination a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 8px 18px;
  padding-top: 8px;
  padding-right: 18px;
  padding-bottom: 8px;
  padding-left: 18px;
}
.pagination a.active{
  background: #d041ecb0;
  color: #fff;
  border-radius: 7px;
}
.pagination a:hover {
  background-color: rgba(128, 128, 128, 0.342);
  border-radius: 7px;
}
.pagination a:visited{
  background-color: none;
}
.pagination a:disabled{
  pointer-events: none;
  background-color: none;
  text-decoration: none;
  cursor: default;
  color: none;
}
        /* стили product-catalog --------------------------- */
.product-catalog{
  white-space: pre-line;
  float: left;
  width: 91%;
  border: solid 1px lightslategray;
  box-shadow: rgb(0, 0, 0) 0 0 15px;
  border-radius: 10px;
  margin: 2%;
  padding: 2%;
  background-color: rgb(197, 179, 179);  
  font-size: 2rem;
}
.product-img-catalog{
  width: 100%;
  height: 100%;
}
.product-desc-catalog{
  /* border: navy solid 3px; */
  display: table-cell;
  width: 900px;
  font-size: 30px;
  text-align: justify;
}

/* end стили класса «product» ------------------------------ */

#comp{
  display: flex;
  flex-direction: column;
  width: 97%;
  text-align: left;
  margin: 10px;
  background: url('https://avatars.mds.yandex.net/get-zen_doc/1899275/pub_5df7c4ad9c944600ad9445d1_5df7c4b61e8e3f00acffc604/scale_1200') no-repeat center center;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}
.comp_col{
  display: flex;
}
.text_img{
  display: flex;
  align-items: center;
}
.text{
  text-align: justify;
}

/* стили персонала ----------------------------------------- */ 

/* .leftimg{
  float: right;
  margin: 7px 7px 7px 5px;
} */
.text{
  clear: right;
}
.staff{
  display: flex;
  justify-content: space-between;
  border-collapse: collapse;
  width: 100%;
}
.staff_foto{
  width: 24%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: -0.1px;
}

/* стили подвала ---------------------------------------------*/
.f_print-hidden{
  margin-top: 50px;
  width: auto;
  height: 300px;
  /* border: solid 5px rgb(78, 187, 5); */
  background-color: rgb(0, 0, 0);
  border-radius: 9px;
}
.w{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 299px;
  font-size: 17px; /* шрифт телефона, адреса, мыла */
  /* border: solid 3px rgb(155, 153, 38); */
}
.row-grid{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  /* border: solid 3px rgb(200, 243, 9); */
  
}
.col{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 15px;
  /* border: solid 3px rgb(116, 75, 211); */
  color: rgb(255, 255, 255);   /* цвет адреса */
}
.menu:hover{
  text-decoration: underline;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.men{
  /* border: solid 3px rgb(255, 255, 255); */
  text-align: center;
  color: rgb(255, 255, 255);
}